.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}


.datos input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 30px;
  align-items: center;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 3px;
  margin: 5px;
}

.datos select{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 315px;
  height: 30px;
  align-items: center;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 3px;
}

.datos button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 30px;
  align-items: center;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 3px;
  margin: 5px;
}

#fechaNacimiento {
  height: 45px;
}





